---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - identity.cluster.local
  resources:
  - identityclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - identity.cluster.local
  resources:
  - identityclaims/finalizers
  verbs:
  - update
- apiGroups:
  - identity.cluster.local
  resources:
  - identityclaims/status
  verbs:
  - get
  - patch
  - update
